
body {
    font-family: 'Open Sans', sans-serif;
    padding: 2%;
}
label {
    display: block;
}


.left {
    position: relative;
    float : left;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
}

.form {
    float : left;
    width: 50%;
}

form {
    display: block;
    width: 100%;
    float: left;
}

.right {
    float : right;
    width: 50%;
}

.right.details {
    margin-top: 50px;
    margin-inside: auto;
}

.results {
    padding: 50px;
}

.results-panel {
    position: fixed; top: 0; right: 0; height: 100%; float: right; width: 50%; background-color: #f0f0f0
}

pre {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}